{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Basic API",
    "description": "Basic endpoints for Publer API including users, workspaces, accounts, and job status.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "publerApi": []
    }
  ],
  "components": {
    "securitySchemes": {
      "publerApi": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "description": "User information",
        "required": ["id", "email"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user"
          },
          "name": {
            "type": "string",
            "description": "Full name of the user"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the user"
          },
          "picture": {
            "type": "string",
            "description": "URL to the profile picture of the user"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "description": "Workspace information",
        "required": ["id", "name", "members"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the workspace"
          },
          "owner": {
            "$ref": "#/components/schemas/WorkspaceOwner"
          },
          "name": {
            "type": "string",
            "description": "The workspace's display name"
          },
          "members": {
            "type": "array",
            "description": "List of users with access to the workspace",
            "minItems": 0,
            "maxItems": 1000,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "plan": {
            "type": "string",
            "description": "Subscription plan of the workspace"
          },
          "picture": {
            "type": "string",
            "description": "URL to the workspace's logo"
          }
        }
      },
      "Account": {
        "type": "object",
        "description": "Social media account information",
        "required": ["id", "provider", "type"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "provider": {
            "type": "string",
            "description": "The social network provider",
            "enum": [
              "bluesky",
              "facebook",
              "instagram",
              "linkedin",
              "twitter",
              "tiktok",
              "youtube",
              "pinterest",
              "google",
              "wordpress_basic",
              "wordpress_oauth",
              "telegram",
              "mastodon",
              "threads"
            ]
          },
          "name": {
            "type": "string",
            "description": "The display name of the social media account",
            "minLength": 1,
            "maxLength": 255
          },
          "social_id": {
            "type": "string",
            "description": "Unique identifier for the account on the social media platform",
            "minLength": 1,
            "maxLength": 255
          },
          "picture": {
            "type": "string",
            "description": "URL to the account's avatar/logo",
            "minLength": 1,
            "maxLength": 2048,
            "format": "url"
          },
          "type": {
            "type": "string",
            "description": "Account type",
            "enum": ["page", "profile", "group", "business", "channel", "location", "blog"]
          }
        }
      },
      "AccountsResponse": {
        "type": "object",
        "description": "Wrapper object for accounts list response",
        "required": ["accounts"],
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of social media accounts",
            "minItems": 0,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "WorkspacesResponse": {
        "type": "object",
        "description": "Wrapper object for workspaces list response",
        "required": ["workspaces"],
        "properties": {
          "workspaces": {
            "type": "array",
            "description": "List of workspaces",
            "minItems": 0,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/Workspace"
            }
          }
        }
      },
      "SignaturesResponse": {
        "type": "object",
        "description": "Response object for signatures endpoint",
        "required": ["signatures"],
        "properties": {
          "signatures": {
            "type": "array",
            "description": "List of signatures",
            "minItems": 0,
            "maxItems": 1000,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "MediaOptionsResponse": {
        "type": "object",
        "description": "Response object for media options endpoint",
        "properties": {
          "media_options": {
            "type": "object",
            "description": "Media options configuration",
            "additionalProperties": true
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "description": "Response object for job status endpoint",
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the job"
          }
        }
      },
      "WorkspaceOwner": {
        "type": "object",
        "description": "Information about the workspace owner",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the owner"
          },
          "email": {
            "type": "string",
            "description": "Email address of the owner"
          },
          "name": {
            "type": "string",
            "description": "Username of the owner"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the owner"
          },
          "picture": {
            "type": "string",
            "description": "URL to the owner's profile picture"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "USERS"
    },
    {
      "name": "WORKSPACES"
    },
    {
      "name": "ACCOUNTS"
    },
    {
      "name": "JOB STATUS"
    }
  ],
  "paths": {
    "/users/me": {
      "get": {
        "tags": ["USERS"],
        "summary": "Me",
        "description": "Retrieve the current authenticated user's information",
        "operationId": "get_current_user",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "id": "12345",
                  "email": "user@example.com",
                  "name": "John Doe",
                  "first_name": "John",
                  "picture": "https://example.com/picture.jpg"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": ["WORKSPACES"],
        "summary": "Fetch workspaces",
        "description": "Retrieve all workspaces accessible to the current user",
        "operationId": "list_workspaces",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponse"
                },
                "example": {
                  "workspaces": [
                    {
                      "id": "ws_123",
                      "name": "My Workspace",
                      "members": []
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/signatures": {
      "get": {
        "tags": ["WORKSPACES"],
        "summary": "Fetch signatures",
        "description": "Retrieve signatures for the specified workspace and accounts",
        "operationId": "get_signatures",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "The unique identifier of the workspace",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "required": true
          },
          {
            "name": "accounts",
            "in": "query",
            "description": "Array of account IDs to fetch signatures for",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "647a0edddb2797b89044e2c1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignaturesResponse"
                },
                "example": {
                  "signatures": []
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/media_options": {
      "get": {
        "tags": ["WORKSPACES"],
        "summary": "Fetch media options",
        "description": "Retrieve media options for the specified workspace and accounts",
        "operationId": "get_media_options",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "The unique identifier of the workspace",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "required": true
          },
          {
            "name": "accounts",
            "in": "query",
            "description": "Array of account IDs to fetch media options for",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "661ce240db2797a7148a6b49",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaOptionsResponse"
                },
                "example": {
                  "media_options": {}
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": ["ACCOUNTS"],
        "summary": "List Accounts",
        "description": "Retrieve all social media accounts for the specified workspace",
        "operationId": "list_accounts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "description": "The unique identifier of the workspace",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponse"
                },
                "example": {
                  "accounts": [
                    {
                      "id": "acc_123",
                      "provider": "facebook",
                      "type": "page",
                      "name": "My Page"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/job_status/{job_id}": {
      "get": {
        "tags": ["JOB STATUS"],
        "summary": "Job status",
        "description": "Check the status of an asynchronous job",
        "operationId": "get_job_status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The unique identifier of the job",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "required": true
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "description": "The unique identifier of the workspace",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                },
                "example": {
                  "status": "completed"
                }
              }
            }
          }
        }
      }
    }
  }
}
