{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Posts Schedule API",
    "description": "Post scheduling endpoints for Publer API - Schedule posts for future publishing.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "publerApi": []
    }
  ],
  "components": {
    "securitySchemes": {
      "publerApi": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "ScheduledMediaAttachment": {
        "type": "object",
        "description": "Media attachment for a scheduled post",
        "properties": {
          "id": {
            "type": "string",
            "description": "Media asset ID from upload"
          },
          "type": {
            "type": "string",
            "enum": ["photo", "video", "document"],
            "description": "Media type"
          },
          "caption": {
            "type": "string",
            "description": "Media caption"
          },
          "alt_text": {
            "type": "string",
            "description": "Alt text for accessibility"
          }
        }
      },
      "ScheduledNetworkContent": {
        "type": "object",
        "description": "Per-network post configuration for scheduling",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "status",
              "photo",
              "video",
              "link",
              "carousel",
              "story",
              "reel",
              "gif",
              "poll",
              "document",
              "event",
              "offer"
            ],
            "description": "Content type",
            "example": "status"
          },
          "text": {
            "type": "string",
            "description": "Post text content",
            "example": "Hello world!"
          },
          "media": {
            "type": "array",
            "description": "Media attachments (required for photo, video, carousel, story, reel, gif types)",
            "items": {
              "$ref": "#/components/schemas/ScheduledMediaAttachment"
            }
          },
          "url": {
            "type": "string",
            "description": "URL for link posts (required when type=link)",
            "example": "https://publer.com"
          }
        }
      },
      "ScheduledTargetAccount": {
        "type": "object",
        "description": "Target account for scheduled post",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Account ID",
            "example": "647a0edddb2797b89044e2c1"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 scheduled time",
            "example": "2025-06-14T10:21:00+02:00"
          }
        }
      },
      "PostToSchedule": {
        "type": "object",
        "description": "Post data for scheduling",
        "required": ["networks", "accounts"],
        "properties": {
          "networks": {
            "type": "object",
            "description": "Network-specific post content",
            "additionalProperties": {
              "$ref": "#/components/schemas/ScheduledNetworkContent"
            }
          },
          "accounts": {
            "type": "array",
            "description": "Target social media accounts",
            "items": {
              "$ref": "#/components/schemas/ScheduledTargetAccount"
            }
          }
        }
      },
      "BulkScheduleConfig": {
        "type": "object",
        "description": "Bulk scheduling configuration",
        "required": ["state", "posts"],
        "properties": {
          "state": {
            "type": "string",
            "enum": ["scheduled", "draft", "draft_private", "draft_public", "recurring"],
            "description": "Post state",
            "example": "scheduled"
          },
          "posts": {
            "type": "array",
            "description": "Posts to create",
            "items": {
              "$ref": "#/components/schemas/PostToSchedule"
            }
          }
        }
      },
      "SchedulePostRequest": {
        "type": "object",
        "description": "Request body for scheduling posts",
        "required": ["bulk"],
        "properties": {
          "bulk": {
            "$ref": "#/components/schemas/BulkScheduleConfig"
          }
        }
      },
      "SchedulePostResponse": {
        "type": "object",
        "description": "Response after scheduling posts",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the scheduling was successful"
          },
          "scheduled": {
            "type": "array",
            "description": "List of scheduled post IDs",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["scheduled"]
      }
    }
  },
  "tags": [
    {
      "name": "POSTS > SCHEDULING"
    }
  ],
  "paths": {
    "/posts/schedule": {
      "post": {
        "tags": ["POSTS > SCHEDULING"],
        "summary": "Schedule post",
        "description": "Schedule a post. Supports text, photo, video, link, carousel, story, reel, and gif content types.",
        "operationId": "schedule_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulePostRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to schedule posts in"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePostResponse"
                },
                "example": {
                  "success": true,
                  "scheduled": ["post123", "post456"]
                }
              }
            }
          }
        }
      }
    }
  }
}
