{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Competitors API",
    "description": "Competitor analysis endpoints for Publer API including listing competitors and retrieving competitor analytics.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "CompetitorsListResponse": {
        "type": "object",
        "description": "Response containing list of competitors",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of competitor accounts",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": ["data"]
      },
      "CompetitorsAnalyticsResponse": {
        "type": "object",
        "description": "Response containing competitor analytics data",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of competitor analytics",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pagination": {
            "type": "object",
            "description": "Pagination information",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "minimum": 0,
                "maximum": 10000,
                "description": "Current page number"
              },
              "total": {
                "type": "integer",
                "format": "int32",
                "minimum": 0,
                "maximum": 1000000,
                "description": "Total number of items"
              }
            }
          }
        },
        "required": ["data"]
      }
    }
  },
  "tags": [
    {
      "name": "COMPETITORS"
    }
  ],
  "paths": {
    "/competitors/{account_id}": {
      "get": {
        "tags": ["COMPETITORS"],
        "summary": "List Competitors",
        "description": "Retrieves a list of competitor accounts for the workspace or for a specific social media account.",
        "operationId": "list_competitors",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to scope competitors"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access competitors for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorsListResponse"
                },
                "example": {
                  "data": [
                    {
                      "competitor_id": "comp123",
                      "name": "Competitor Name",
                      "username": "@competitor"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/competitors/{account_id}/analytics": {
      "get": {
        "tags": ["COMPETITORS"],
        "summary": "Competitors analytics",
        "description": "Retrieves analytics data for competitor accounts, including engagement metrics, follower counts, and post performance statistics.",
        "operationId": "get_competitors_analytics",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the social media account to retrieve competitors analytics for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access competitor analytics for"
          },
          {
            "name": "competitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specific competitor account ID to analyze"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search filter for competitor account names"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 10000
            },
            "example": 0,
            "description": "Page number for pagination (default: 0)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "followers",
                "reach",
                "engagement",
                "posts_count",
                "videos_count",
                "photos_count",
                "links_count",
                "statuses_count"
              ]
            },
            "description": "Field to sort results by (default: followers)"
          },
          {
            "name": "sort_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction (default: asc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorsAnalyticsResponse"
                },
                "example": {
                  "data": [
                    {
                      "competitor_id": "comp123",
                      "followers": 50000,
                      "engagement": 2500
                    }
                  ],
                  "pagination": {
                    "page": 0,
                    "total": 100
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
