{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Competitors API",
    "description": "Competitor analysis endpoints for Publer API including listing competitors and retrieving competitor analytics.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    }
  },
  "tags": [
    {
      "name": "COMPETITORS"
    }
  ],
  "paths": {
    "/competitors/{account_id}": {
      "get": {
        "tags": ["COMPETITORS"],
        "summary": "List Competitors",
        "description": "Retrieves a list of competitor accounts for the workspace or for a specific social media account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Social account ID to scope competitors (omit for all workspace competitors)"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/competitors/{account_id}/analytics": {
      "get": {
        "tags": ["COMPETITORS"],
        "summary": "Competitors analytics",
        "description": "Retrieves analytics data for competitor accounts, including engagement metrics, follower counts, and post performance statistics.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the social media account to retrieve competitors analytics for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specific competitor account ID to analyze"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search filter for competitor account names"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0,
            "description": "Page number for pagination (default: 0)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "followers",
                "reach",
                "engagement",
                "posts_count",
                "videos_count",
                "photos_count",
                "links_count",
                "statuses_count"
              ]
            },
            "description": "Field to sort results by (default: followers)"
          },
          {
            "name": "sort_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction (default: asc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
