{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Analytics API",
    "description": "Analytics endpoints for Publer API including charts, post insights, hashtag insights, and best times to post.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "ChartsResponse": {
        "type": "object",
        "description": "Response containing available analytics charts",
        "properties": {
          "data": {
            "type": "object",
            "description": "Chart data for analytics",
            "additionalProperties": true
          }
        }
      },
      "ChartDataResponse": {
        "type": "object",
        "description": "Response containing detailed chart data",
        "properties": {
          "data": {
            "type": "object",
            "description": "Detailed chart data for specific metrics",
            "additionalProperties": true
          }
        }
      },
      "PostInsight": {
        "type": "object",
        "description": "Individual post performance insight",
        "additionalProperties": true
      },
      "Pagination": {
        "type": "object",
        "description": "Pagination information for list responses",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "Current page number"
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 1000000,
            "description": "Total number of items"
          }
        }
      },
      "PostInsightsResponse": {
        "type": "object",
        "description": "Response containing post insights data",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of post performance insights",
            "items": {
              "$ref": "#/components/schemas/PostInsight"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": ["data"]
      },
      "HashtagInsight": {
        "type": "object",
        "description": "Individual hashtag performance data",
        "additionalProperties": true
      },
      "HashtagInsightsResponse": {
        "type": "object",
        "description": "Response containing hashtag insights",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of hashtag performance data",
            "items": {
              "$ref": "#/components/schemas/HashtagInsight"
            }
          }
        },
        "required": ["data"]
      },
      "HashtagPerformingPost": {
        "type": "object",
        "description": "Post that performed well with a hashtag",
        "additionalProperties": true
      },
      "HashtagPerformingPostsResponse": {
        "type": "object",
        "description": "Response containing hashtag performing posts",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of posts that performed well",
            "items": {
              "$ref": "#/components/schemas/HashtagPerformingPost"
            }
          }
        },
        "required": ["data"]
      },
      "BestTimesData": {
        "type": "object",
        "description": "Best times data for posting",
        "properties": {
          "best_days": {
            "type": "array",
            "description": "List of best days to post",
            "items": {
              "type": "string"
            }
          },
          "best_hours": {
            "type": "array",
            "description": "List of best hours to post (0-23)",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 23
            }
          }
        },
        "required": ["best_days", "best_hours"]
      },
      "BestTimesResponse": {
        "type": "object",
        "description": "Response containing best times to post",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BestTimesData"
          }
        },
        "required": ["data"]
      },
      "MemberData": {
        "type": "object",
        "description": "Workspace member analytics data",
        "properties": {
          "member_id": {
            "type": "string",
            "description": "Unique identifier for the member"
          },
          "name": {
            "type": "string",
            "description": "Name of the member"
          },
          "posts_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 1000000,
            "description": "Number of posts created by the member"
          }
        }
      },
      "MembersResponse": {
        "type": "object",
        "description": "Response containing members analytics",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of member analytics data",
            "items": {
              "$ref": "#/components/schemas/MemberData"
            }
          }
        },
        "required": ["data"]
      }
    }
  },
  "tags": [
    {
      "name": "ANALYTICS"
    }
  ],
  "paths": {
    "/analytics/charts": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Get charts",
        "description": "Retrieve available analytics charts for the workspace",
        "operationId": "get_analytics_charts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartsResponse"
                },
                "example": {
                  "data": {
                    "available_charts": ["followers", "engagement", "reach"]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/{account_id}/chart_data": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Charts data",
        "description": "Get detailed chart data for a specific social account",
        "operationId": "get_chart_data",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to get chart data for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-03-21",
            "description": "Start date for chart data range (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-18",
            "description": "End date for chart data range (YYYY-MM-DD)"
          },
          {
            "name": "chart_ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["followers"],
            "description": "List of chart IDs to retrieve data for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartDataResponse"
                },
                "example": {
                  "data": {
                    "followers": {
                      "labels": ["2025-03-21", "2025-03-22"],
                      "values": [1000, 1010]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/{account_id}/post_insights": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Post insights",
        "description": "Get detailed insights for posts on a specific social account",
        "operationId": "get_post_insights",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to get post insights for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "competitors",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "example": "false",
            "description": "Include competitor analysis data"
          },
          {
            "name": "competitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specific competitor account ID to analyze"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-05-13",
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-10",
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search posts by text content"
          },
          {
            "name": "post_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "poll",
                "status",
                "link",
                "carousel",
                "photo",
                "gif",
                "video",
                "reel",
                "document",
                "short",
                "article",
                "story"
              ]
            },
            "description": "Filter by post type"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled_at",
                "reach",
                "engagement",
                "engagement_rate",
                "click_through_rate",
                "reach_rate",
                "post_type",
                "likes",
                "video_views",
                "comments",
                "shares",
                "saves",
                "link_clicks",
                "post_clicks"
              ]
            },
            "description": "Field to sort results by"
          },
          {
            "name": "sort_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction (asc or desc)"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workspace member who created the post"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInsightsResponse"
                },
                "example": {
                  "data": [
                    {
                      "post_id": "123",
                      "reach": 5000,
                      "engagement": 250,
                      "likes": 200
                    }
                  ],
                  "pagination": {
                    "page": 0,
                    "total": 100
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/{account_id}/hashtag_insights": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Hashtag insights",
        "description": "Get insights about hashtag performance for a specific social account",
        "operationId": "get_hashtag_insights",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to get hashtag insights for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-07-15",
            "description": "Start date for hashtag analysis (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-11",
            "description": "End date for hashtag analysis (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagInsightsResponse"
                },
                "example": {
                  "data": [
                    {
                      "hashtag": "#marketing",
                      "usage_count": 50,
                      "average_reach": 1000
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/analytics/{account_id}/hashtag_performing_posts": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Hashtag performing posts",
        "description": "Get posts that performed best with a specific hashtag",
        "operationId": "get_hashtag_performing_posts",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to get hashtag performing posts for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "hashtag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Hashtag to search for (e.g., #smm)",
            "example": "%23smm"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-31",
            "description": "Start date for analysis (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31",
            "description": "End date for analysis (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagPerformingPostsResponse"
                },
                "example": {
                  "data": [
                    {
                      "post_id": "456",
                      "reach": 10000,
                      "hashtag": "#smm"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/analytics/{account_id}/best_times": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Best times to post",
        "description": "Get optimal posting times based on historical performance data",
        "operationId": "get_best_times",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Social account ID to get best times for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01",
            "description": "Start date for analysis (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31",
            "description": "End date for analysis (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestTimesResponse"
                },
                "example": {
                  "data": {
                    "best_days": ["Monday", "Wednesday", "Friday"],
                    "best_hours": [9, 12, 18]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/members": {
      "get": {
        "tags": ["ANALYTICS"],
        "summary": "Members",
        "description": "Get analytics data for workspace members",
        "operationId": "get_members_analytics",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to access analytics for"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-07-16",
            "required": true,
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-12",
            "required": true,
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict analytics to one social account. Omit for all workspace accounts."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersResponse"
                },
                "example": {
                  "data": [
                    {
                      "member_id": "user123",
                      "name": "John Doe",
                      "posts_count": 25
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
