{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer API",
    "description": "Welcome to the **Publer API** collection!\n\nThis API enables developers, agencies, and marketing teams to automate social media workflows, integrate advanced scheduling tools, and manage multiple brands at scale—all from your own applications.\n\n---\n\n## What is the Publer API?\n\nThe Publer API is a modern, RESTful JSON interface designed for seamless social media automation. It lets you programmatically access and manage all core functions of the Publer platform, including:\n\n- **Publishing & Scheduling**  \n    Draft, schedule, auto-schedule, or instantly publish posts (including bulk and recurring content) across 13+ supported social platforms.\n    \n- **Media Management**  \n    Upload, organize, and attach media—images, videos, GIFs, PDFs, and more. Apply watermarks and manage media libraries per workspace or account.\n    \n- **Workspace & Collaboration**  \n    Manage teams, clients, and brands through isolated workspaces. Retrieve user profiles, permissions, and organize content by workspace.\n    \n- **Advanced Features**  \n    Automate post actions (auto-share, follow-up comments, auto-delete), append branded signatures, use location tags, and customize posts with platform-specific features.\n    \n\n---\n\n## Supported Social Networks\n\nPublish and manage content on:\n\n- Facebook, Instagram, Twitter/X, LinkedIn, Pinterest, YouTube, TikTok, Google Business Profile, WordPress, Telegram, Mastodon, Threads, and Bluesky.\n    \n\n---\n\n## Core Capabilities\n\n- **Content Types:**  \n    Status updates, images, videos, reels, stories, polls, PDFs, links, carousels, events, offers, and more.\n    \n- **Bulk Scheduling:**  \n    Schedule up to 500 posts in a single request for efficient multi-account planning.\n    \n- **Media Options:**  \n    Organize Facebook albums, Pinterest boards, and apply account-specific watermarks.\n    \n- **Branding & Protection:**  \n    Use signatures and watermarks to reinforce your brand and protect ...",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "USERS"
    },
    {
      "name": "WORKSPACES"
    },
    {
      "name": "ACCOUNTS"
    },
    {
      "name": "MEDIA"
    },
    {
      "name": "POSTS"
    },
    {
      "name": "POSTS > PUBLISHING METHODS"
    },
    {
      "name": "POSTS > PUBLISHING METHODS > DRAFTS"
    },
    {
      "name": "POSTS > PUBLISHING METHODS > AUTO SCHEDULE"
    },
    {
      "name": "POSTS > CONTENT TYPES"
    },
    {
      "name": "POSTS > CONTENT TYPES > NETWORK-SPECIFIK TYPES"
    },
    {
      "name": "JOB STATUS"
    },
    {
      "name": "LOCATIONS"
    },
    {
      "name": "ANALYTICS"
    }
  ],
  "paths": {
    "/users/me": {
      "get": {
        "tags": [
          "USERS"
        ],
        "summary": "Me",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "WORKSPACES"
        ],
        "summary": "Fetch workspaces",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/signatures": {
      "get": {
        "tags": [
          "WORKSPACES"
        ],
        "summary": "Fetch signatures",
        "parameters": [
          {
            "name": "accounts[]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "647a0edddb2797b89044e2c1"
          },
          {
            "name": "workspace_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/media_options": {
      "get": {
        "tags": [
          "WORKSPACES"
        ],
        "summary": "Fetch media options",
        "parameters": [
          {
            "name": "accounts[]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "661ce240db2797a7148a6b49"
          },
          {
            "name": "workspace_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "ACCOUNTS"
        ],
        "summary": "List Accounts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media": {
      "get": {
        "tags": [
          "MEDIA"
        ],
        "summary": "List media",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["647a0edddb2797b89044e2c1"]
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "types[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["photo", "video", "gif"]
              }
            },
            "example": ["photo"]
          },
          {
            "name": "used[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "example": [false]
          },
          {
            "name": "source[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["canva", "vista", "postnitro", "contentdrips", "openai", "favorites", "upload"]
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "MEDIA"
        ],
        "summary": "Upload file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "direct_upload": {
                    "type": "boolean",
                    "example": false
                  },
                  "in_library": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/media/from-url": {
      "post": {
        "tags": [
          "MEDIA"
        ],
        "summary": "Upload from url",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["media", "type"],
                "properties": {
                  "media": {
                    "type": "array",
                    "description": "List of media URLs and metadata",
                    "items": {
                      "type": "object",
                      "required": ["url", "name"],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "URL of the media file to download"
                        },
                        "name": {
                          "type": "string",
                          "description": "Custom name for the media file"
                        },
                        "caption": {
                          "type": "string",
                          "description": "Caption for the media"
                        },
                        "source": {
                          "type": "string",
                          "description": "Source attribution"
                        }
                      }
                    }
                  },
                  "type": {
                    "type": "string",
                    "enum": ["single", "bulk", "thumbnail"],
                    "description": "Upload type",
                    "example": "single"
                  },
                  "direct_upload": {
                    "type": "boolean",
                    "description": "Whether to upload directly to S3 cloud, slower but returns id",
                    "default": false,
                    "example": false
                  },
                  "in_library": {
                    "type": "boolean",
                    "description": "Whether to save to media library",
                    "default": false,
                    "example": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/schedule": {
      "post": {
        "tags": [
          "POSTS > CONTENT TYPES"
        ],
        "summary": "Schedule post",
        "description": "Schedule a post. Supports text, photo, video, link, carousel, story, reel, and gif content types.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["bulk"],
                "properties": {
                  "bulk": {
                    "type": "object",
                    "required": ["state", "posts"],
                    "properties": {
                      "state": {
                        "type": "string",
                        "enum": ["scheduled", "draft"],
                        "description": "Post state",
                        "example": "scheduled"
                      },
                      "posts": {
                        "type": "array",
                        "description": "Posts to create",
                        "items": {
                          "type": "object",
                          "required": ["networks", "accounts"],
                          "properties": {
                            "networks": {
                              "type": "object",
                              "description": "Network-specific post content",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Per-network post configuration",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": ["status", "photo", "video", "link", "carousel", "story", "reel", "gif", "poll", "document", "event", "offer", "shorts"],
                                    "description": "Content type: status (text only), photo, video, link, carousel, story, reel, or gif",
                                    "example": "status"
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Post text content",
                                    "example": "Hello world!"
                                  },
                                  "media": {
                                    "type": "array",
                                    "description": "Media attachments (required for photo, video, carousel, story, reel, gif types)",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Media asset ID from upload"
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": ["photo", "video", "gif"],
                                          "description": "Media type"
                                        },
                                        "caption": {
                                          "type": "string",
                                          "description": "Media caption"
                                        }
                                      }
                                    }
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "URL for link posts (required when type=link)",
                                    "example": "https://publer.com"
                                  }
                                }
                              }
                            },
                            "accounts": {
                              "type": "array",
                              "description": "Target social media accounts",
                              "items": {
                                "type": "object",
                                "required": ["id"],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Account ID",
                                    "example": "647a0edddb2797b89044e2c1"
                                  },
                                  "scheduled_at": {
                                    "type": "string",
                                    "description": "ISO 8601 scheduled time",
                                    "example": "2025-06-14T10:21+02:00"
                                  },
                                  "location": {
                                    "type": "object",
                                    "description": "Location for Facebook/Instagram",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Location ID"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Location name"
                                      },
                                      "address": {
                                        "type": "string",
                                        "description": "Location address"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/schedule/publish": {
      "post": {
        "tags": [
          "POSTS > PUBLISHING METHODS"
        ],
        "summary": "Publish immediately",
        "description": "Publish a post immediately. Supports text, photo, video, link, carousel, story, reel, and gif content types.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["bulk"],
                "properties": {
                  "bulk": {
                    "type": "object",
                    "required": ["state", "posts"],
                    "properties": {
                      "state": {
                        "type": "string",
                        "enum": ["published"],
                        "description": "Must be 'published' for immediate publishing",
                        "example": "published"
                      },
                      "url": {
                        "type": "string",
                        "description": "Must be 'publish'",
                        "example": "publish"
                      },
                      "posts": {
                        "type": "array",
                        "description": "Posts to publish",
                        "items": {
                          "type": "object",
                          "required": ["networks", "accounts"],
                          "properties": {
                            "networks": {
                              "type": "object",
                              "description": "Network-specific post content",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Per-network post configuration",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": ["status", "photo", "video", "link", "carousel", "story", "reel", "gif", "poll", "document", "event", "offer", "shorts"],
                                    "description": "Content type: status (text only), photo, video, link, carousel, story, reel, or gif",
                                    "example": "status"
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Post text content",
                                    "example": "Hello world!"
                                  },
                                  "media": {
                                    "type": "array",
                                    "description": "Media attachments (required for photo, video, carousel, story, reel, gif types)",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Media asset ID from upload"
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": ["photo", "video", "gif"],
                                          "description": "Media type"
                                        },
                                        "caption": {
                                          "type": "string",
                                          "description": "Media caption"
                                        }
                                      }
                                    }
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "URL for link posts (required when type=link)",
                                    "example": "https://publer.com"
                                  }
                                }
                              }
                            },
                            "accounts": {
                              "type": "array",
                              "description": "Target social media accounts",
                              "items": {
                                "type": "object",
                                "required": ["id"],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Account ID",
                                    "example": "647a0edddb2797b89044e2c1"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "POSTS"
        ],
        "summary": "List Posts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["all", "scheduled", "scheduled_approved", "scheduled_pending", "scheduled_declined", "scheduled_reauth", "scheduled_locked", "published", "published_posted", "published_deleted", "published_hidden", "draft", "draft_dated", "draft_undated", "draft_private", "draft_public", "failed", "recycling", "recycling_active", "recycling_paused", "recycling_expired", "recycling_failed", "recycling_pending", "recycling_declined", "recycling_reauth", "recycling_locked", "recurring"]
            },
            "example": "scheduled"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["all", "scheduled", "scheduled_approved", "scheduled_pending", "scheduled_declined", "scheduled_reauth", "scheduled_locked", "published", "published_posted", "published_deleted", "published_hidden", "draft", "draft_dated", "draft_undated", "draft_private", "draft_public", "failed", "recycling", "recycling_active", "recycling_paused", "recycling_expired", "recycling_failed", "recycling_pending", "recycling_declined", "recycling_reauth", "recycling_locked", "recurring"]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "account_ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["63c675b54e299e9cf2b667ea"]
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["status", "link", "photo", "gif", "video", "reel", "story", "shorts", "poll", "document", "carousel", "article", "event", "offer"]
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "POSTS"
        ],
        "summary": "Delete posts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "post_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["684945796a88bf9baa9c182c"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/links": {
      "post": {
        "tags": [
          "POSTS"
        ],
        "summary": "Extract link metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "url": "publer.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/{post_id}": {
      "put": {
        "tags": [
          "POSTS"
        ],
        "summary": "Update post",
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/job_status/{job_id}": {
      "get": {
        "tags": [
          "JOB STATUS"
        ],
        "summary": "Job status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/locations/instagram": {
      "get": {
        "tags": [
          "LOCATIONS"
        ],
        "summary": "Instagram locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/locations/facebook": {
      "get": {
        "tags": [
          "LOCATIONS"
        ],
        "summary": "Facebook locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/locations/threads": {
      "get": {
        "tags": [
          "LOCATIONS"
        ],
        "summary": "Threads locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/charts": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Get charts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/{account_id}/chart_data": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Charts data",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-03-21"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-08-18"
          },
          {
            "name": "chart_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["followers"]
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/{account_id}/post_insights": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Post insights",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "competitors",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "example": "false",
            "description": "Include competitor analysis data"
          },
          {
            "name": "competitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specific competitor account ID to analyze"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-05-13",
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-10",
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search posts by text content"
          },
          {
            "name": "postType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["poll", "status", "link", "carousel", "photo", "gif", "video", "reel", "document", "short", "article", "story"]
            },
            "description": "Filter by post type"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["scheduled_at", "reach", "engagement", "engagement_rate", "click_through_rate", "reach_rate", "postType", "likes", "video_views", "comments", "shares", "saves", "link_clicks", "post_clicks"]
            },
            "description": "Field to sort results by"
          },
          {
            "name": "sort_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ASC", "DESC"]
            },
            "description": "Sort direction (ASC or DESC)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0,
            "description": "Page number (0-based, 10 posts per page)"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workspace member who created the post"
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Social account ID (omit for all workspace accounts)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/{account_id}/hashtag_insights": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Hashtag insights",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-07-15"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-08-11"
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/{account_id}/hashtag_performing_posts": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Hashtag performing posts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "hashtag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "#smm",
            "example": "%23smm"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-01-31"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-12-31"
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/{account_id}/best_times": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Best times to post",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-12-31"
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/analytics/members": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Members",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-07-16"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-08-12"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/competitors/{account_id}": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "List Competitors",
        "description": "Retrieves a list of competitor accounts for the workspace or for a specific social media account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Social account ID to scope competitors (omit for all workspace competitors)"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/competitors/{account_id}/analytics": {
      "get": {
        "tags": [
          "ANALYTICS"
        ],
        "summary": "Competitors analytics",
        "description": "Retrieves analytics data for competitor accounts, including engagement metrics, follower counts, and post performance statistics.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the social media account to retrieve competitors analytics for"
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specific competitor account ID to analyze"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search filter for competitor account names"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for analytics data (YYYY-MM-DD)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0,
            "description": "Page number for pagination (default: 0)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["followers", "reach", "engagement", "posts_count", "videos_count", "photos_count", "links_count", "statuses_count"]
            },
            "description": "Field to sort results by (default: followers)"
          },
          {
            "name": "sort_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction (default: asc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account"
          },
          "provider": {
            "type": "string",
            "description": "The social network provider",
            "enum": ["bluesky", "facebook", "instagram", "linkedin", "twitter", "tiktok", "youtube", "pinterest", "google", "wordpress", "telegram", "mastodon", "threads"]
          },
          "name": {
            "type": "string",
            "description": "The display name of the social media account"
          },
          "social_id": {
            "type": "string",
            "description": "Unique identifier for the account on the social media platform"
          },
          "picture": {
            "type": "string",
            "description": "URL to the account's avatar/logo"
          },
          "type": {
            "type": "string",
            "description": "Account type",
            "enum": ["page", "profile", "group", "business", "channel", "location", "blog"]
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    }
  }
}
