{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Locations API",
    "description": "Location search endpoints for Publer API including Instagram, Facebook, and Threads locations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "LocationsResponse": {
        "type": "object",
        "description": "Response containing location search results",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of locations matching the search query",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": ["data"]
      }
    }
  },
  "tags": [
    {
      "name": "LOCATIONS"
    }
  ],
  "paths": {
    "/locations/instagram": {
      "get": {
        "tags": ["LOCATIONS"],
        "summary": "Instagram locations",
        "description": "Search for Instagram locations by query string",
        "operationId": "search_instagram_locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to search locations for"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana",
            "description": "Search query for location name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "12345",
                      "name": "Tirana, Albania",
                      "lat": 41.3275,
                      "lng": 19.8187
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/facebook": {
      "get": {
        "tags": ["LOCATIONS"],
        "summary": "Facebook locations",
        "description": "Search for Facebook locations by query string",
        "operationId": "search_facebook_locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to search locations for"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana",
            "description": "Search query for location name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "67890",
                      "name": "Tirana",
                      "city": "Tirana",
                      "country": "Albania"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/threads": {
      "get": {
        "tags": ["LOCATIONS"],
        "summary": "Threads locations",
        "description": "Search for Threads locations by query string",
        "operationId": "search_threads_locations",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to search locations for"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Tirana",
            "description": "Search query for location name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "11223",
                      "name": "Tirana",
                      "lat": 41.3275,
                      "lng": 19.8187
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
