{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Media API",
    "description": "Media management endpoints for Publer API including upload and listing.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    }
  },
  "tags": [
    {
      "name": "MEDIA"
    }
  ],
  "paths": {
    "/media": {
      "get": {
        "tags": ["MEDIA"],
        "summary": "List media",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["647a0edddb2797b89044e2c1"]
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "types[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["photo", "video", "gif"]
              }
            },
            "example": ["photo"]
          },
          {
            "name": "used[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "example": [false]
          },
          {
            "name": "source[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["canva", "vista", "postnitro", "contentdrips", "openai", "favorites"]
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": ["MEDIA"],
        "summary": "Upload file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "direct_upload": {
                    "type": "boolean",
                    "example": false
                  },
                  "in_library": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/media/from-url": {
      "post": {
        "tags": ["MEDIA"],
        "summary": "Upload from url",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["media", "type"],
                "properties": {
                  "media": {
                    "type": "array",
                    "description": "List of media URLs and metadata",
                    "items": {
                      "type": "object",
                      "required": ["url", "name"],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "URL of the media file to download"
                        },
                        "name": {
                          "type": "string",
                          "description": "Custom name for the media file"
                        },
                        "caption": {
                          "type": "string",
                          "description": "Caption for the media"
                        },
                        "source": {
                          "type": "string",
                          "description": "Source attribution"
                        }
                      }
                    }
                  },
                  "type": {
                    "type": "string",
                    "enum": ["single", "bulk"],
                    "description": "Upload type",
                    "example": "single"
                  },
                  "direct_upload": {
                    "type": "boolean",
                    "description": "Whether to upload directly to S3 cloud, slower but returns id",
                    "default": false,
                    "example": false
                  },
                  "in_library": {
                    "type": "boolean",
                    "description": "Whether to save to media library",
                    "default": false,
                    "example": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
