{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Media API",
    "description": "Media management endpoints for Publer API including upload and listing.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    },
    "schemas": {
      "MediaUploadRequest": {
        "type": "object",
        "description": "Request body for uploading media from URL",
        "required": ["media", "type"],
        "properties": {
          "media": {
            "type": "array",
            "description": "List of media URLs and metadata",
            "items": {
              "$ref": "#/components/schemas/MediaItem"
            }
          },
          "type": {
            "type": "string",
            "enum": ["single", "bulk"],
            "description": "Upload type",
            "example": "single"
          },
          "direct_upload": {
            "type": "boolean",
            "description": "Whether to upload directly to S3 cloud, slower but returns id",
            "default": false,
            "example": false
          },
          "in_library": {
            "type": "boolean",
            "description": "Whether to save to media library",
            "default": false,
            "example": true
          }
        }
      },
      "MediaItem": {
        "type": "object",
        "description": "Media item to upload from URL",
        "required": ["url", "name"],
        "properties": {
          "url": {
            "type": "string",
            "description": "URL of the media file to download"
          },
          "name": {
            "type": "string",
            "description": "Custom name for the media file"
          },
          "caption": {
            "type": "string",
            "description": "Caption for the media"
          },
          "source": {
            "type": "string",
            "description": "Source attribution"
          }
        }
      },
      "MediaListResponse": {
        "type": "object",
        "description": "Response containing list of media files",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of media files",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": ["data"]
      },
      "MediaUploadResponse": {
        "type": "object",
        "description": "Response after uploading media",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the uploaded media"
          },
          "url": {
            "type": "string",
            "description": "URL of the uploaded media"
          },
          "status": {
            "type": "string",
            "description": "Upload status"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "MEDIA"
    }
  ],
  "paths": {
    "/media": {
      "get": {
        "tags": ["MEDIA"],
        "summary": "List media",
        "description": "Retrieve a list of media files from the workspace media library",
        "operationId": "list_media",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to list media from"
          },
          {
            "name": "types",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["photo", "video", "gif"]
              }
            },
            "example": ["photo"],
            "description": "Filter by media types"
          },
          {
            "name": "used",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "example": [false],
            "description": "Filter by whether media has been used in posts"
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["647a0edddb2797b89044e2c1"],
            "description": "Filter by specific media IDs"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 10000
            },
            "example": 0,
            "description": "Page number for pagination"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["canva", "vista", "postnitro", "contentdrips", "openai", "favorites"]
              }
            },
            "description": "Filter by media source"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query for media files"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "647a0edddb2797b89044e2c1",
                      "type": "photo",
                      "url": "https://example.com/image.jpg"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["MEDIA"],
        "summary": "Upload file",
        "description": "Upload a media file directly to the workspace",
        "operationId": "upload_media_file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Media file upload request",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Media file to upload"
                  },
                  "direct_upload": {
                    "type": "boolean",
                    "example": false,
                    "description": "Upload directly to S3 cloud"
                  },
                  "in_library": {
                    "type": "boolean",
                    "example": true,
                    "description": "Save to media library"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to upload media to"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                },
                "example": {
                  "id": "647a0edddb2797b89044e2c1",
                  "url": "https://example.com/uploaded.jpg",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/media/from_url": {
      "post": {
        "tags": ["MEDIA"],
        "summary": "Upload from url",
        "description": "Upload media files from external URLs",
        "operationId": "upload_media_from_url",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true,
            "description": "Workspace ID to upload media to"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                },
                "example": {
                  "id": "647a0edddb2797b89044e2c2",
                  "url": "https://example.com/uploaded.jpg",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    }
  }
}
