{
  "openapi": "3.1.1",
  "info": {
    "title": "Publer Posts API",
    "description": "Post management endpoints for Publer API including listing, updating, and deleting posts.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.publer.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerApiAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerApiAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key authentication. Format: \"Bearer-API YOUR_API_KEY\""
      }
    }
  },
  "tags": [
    {
      "name": "POSTS"
    }
  ],
  "paths": {
    "/posts": {
      "get": {
        "tags": ["POSTS"],
        "summary": "List Posts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "scheduled",
                "scheduled_approved",
                "scheduled_pending",
                "scheduled_declined",
                "scheduled_reauth",
                "scheduled_locked",
                "published",
                "published_posted",
                "published_deleted",
                "published_hidden",
                "draft",
                "draft_dated",
                "draft_undated",
                "draft_private",
                "draft_public",
                "failed",
                "recycling",
                "recycling_active",
                "recycling_paused",
                "recycling_expired",
                "recycling_failed",
                "recycling_pending",
                "recycling_declined",
                "recycling_reauth",
                "recycling_locked",
                "recurring"
              ]
            },
            "example": "scheduled"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "account_ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["63c675b54e299e9cf2b667ea"]
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "link",
                "photo",
                "gif",
                "video",
                "reel",
                "story",
                "short",
                "poll",
                "document",
                "carousel",
                "article",
                "event",
                "offer"
              ]
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": ["POSTS"],
        "summary": "Delete posts",
        "parameters": [
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          },
          {
            "name": "post_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": ["684945796a88bf9baa9c182c"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/links": {
      "post": {
        "tags": ["POSTS"],
        "summary": "Extract link metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "url": "publer.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts/{post_id}": {
      "put": {
        "tags": ["POSTS"],
        "summary": "Update post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulk": {
                    "type": "object",
                    "properties": {
                      "state": {
                        "type": "string",
                        "enum": ["scheduled", "draft"],
                        "description": "Post state"
                      },
                      "posts": {
                        "type": "array",
                        "description": "Posts to update",
                        "items": {
                          "type": "object",
                          "required": ["networks", "accounts"],
                          "properties": {
                            "networks": {
                              "type": "object",
                              "description": "Network-specific post content",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "status",
                                      "photo",
                                      "video",
                                      "link",
                                      "carousel",
                                      "story",
                                      "reel",
                                      "gif",
                                      "poll",
                                      "document",
                                      "event",
                                      "offer",
                                      "short"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "media": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": ["image", "photo", "video", "gif"]
                                        },
                                        "caption": {
                                          "type": "string"
                                        },
                                        "alt_text": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "accounts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": ["id"],
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "scheduled_at": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Publer-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{workspace_id}}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
